[data-controller="spaces"][data-action="index"] {
  .page-container {
    background: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.13);

    .advanced-search-form-container {
      background-color: #f2f2f2;
      padding: 20px;
    }
    .results-container {
      padding-top: 20px;
      padding-bottom: 20px;
      .space-card {
        background-color: #f2f2f2;
        margin-bottom: 10px;
        .space-picture {
          height: 170px;
          img {
            max-height: 100%;
          }
        }
        .space-info {
          height: 215px;
          padding: 10px;
          font-size: 12px;
          .rating {
            background-color: white;
            padding: 2px;
          }
          .price {
            font-weight: bold;
            font-size: 18px;
            color: $brand-success;
          }
        }
    }

    }
  }
  .result-count-container {
    background-color: $brand-primary;
    color: white;
    height: 80px;
    padding: 20px;
    text-align: center
  }
}
