[data-controller="spaces"][data-action="show"] {
  background-color: #FAFAFA;
  .space-detail {
    background-color: white;
    margin-bottom: 20px;
  }
  .location {
    font-size: 16px;
    font-weight: normal;
  }
}