.ss-navbar {
  background-color: white;
  border-radius: 0;
  .navbar-brand {
    padding: 0;
    img {
      max-height: 86px;
      margin-top: -4px;
      max-height: $navbar-height + 6px;
    }
  }
}
.ss-navbar-adjust {
  top: 0;
  left: 0;
  content: ' ';
  height: $navbar-height;
  width: 100%;
}