.ss-navbar {
  background-color: white;
  border-radius: 0;
  .navbar-brand {
    padding: 0;
    img {
      max-height: 86px;
      margin-top: -4px;
      max-height: $navbar-height + 6px;
    }
  }
}