=# required: url, amount_in_cents, extra_params
- amount_in_cents ||= nil
- extra_params ||= {}
- label ||= nil
%form.stripe-btn-container{action: url, method: 'POST'}
  %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
  - extra_params.each do |k, v|
    %input{type: 'hidden', name: k, value: v}
  = yield
  %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
    'data-key': ENV['STRIPE_PUBLIC_KEY'],
    'data-amount': amount_in_cents,
    'data-name': 'SpaceSkout',
    'data-description': '',
    'data-image': asset_url('logo-for-stripe.png'),
    'data-locale': 'auto',
    'data-label': label}

