.container
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      %h1 FAQS

      %h2 How does SpaceSkout work?
      %p Looking for a space to host your event? You’ve come to the right place! SpaceSkout is free to use for space seekers. Once you sign up and become a Member, you can browse our selection of venues. Once you spot a space that you fancy, feel free to message the Space Owner and connect directly to set up a viewing and booking.

      %h2 How do I become a member?
      %p It’s easy and free! You can sign up using your Facebook or Gmail account or create a separate login by registering on SpaceSkout.

      %h2 How do I list my space as a Space Owner?
      %p We’re excited you’re taking the first step! First, you’ll need to create an account on SpaceSkout by registering as a Space Owner. In order to list a space, you’ll select from a list of annual subscription packages that best fit your needs.* Lastly, you’ll fill out the List Your Space form and you’re ready to publish!
      %p *At the moment, we're offering a free annual subscription for a limited time only.

      %h2 What areas do you serve?
      %p Currently, we are serving cities in Northern California.

      %h2 Can a Member rate and review a space?
      %p Absolutely! Members can definitely rate and review a space (we strongly encourage it), but only after they’ve contacted the Space Owner through our website to ensure the review is verified.

      %h2 Can a Space Owner rate and review the customer?
      %p Yes, we’ve set up SpaceSkout as a community rating system so Space Owners have the opportunity to review the Member as well.
