@import "bootstrap-sprockets";
@import "theme";
@import "bootstrap";
@import "bootstrap-slider";

@import "footer";
@import "pages/home";
@import "registrations";
@import "spaces/index";
@import "spaces/show";
@import "shared/alerts";
@import "shared/forms";
@import "shared/navigation";

html, body {
  height: 100%;
}
.full-height-flex-container {
  display: flex;
  flex-direction: column;
  .full-height-flex {
    flex-grow: 1;
    display: block;
  }
}
.full-height-with-nav {
  height: calc(100% - #{$navbar-height});
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.text-right-xs {
  @media (min-width: $screen-xs) {
    text-align: right;
  }
}

.text-right-md {
  @media (min-width: $screen-md) {
    text-align: right;
  }
}

@each $size in (0, 2, 5, 10, 15, 20, 25, 30, 40, 50) {
  .p#{$size} {
    padding: #{$size}px;
  }
  .m#{$size} {
    margin: #{$size}px;
  }
}

.btn-secondary {
  @include button-variant(white, #F9622F, #d75124);
}

.shadow-border {
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.13);
}