@import "bootstrap-sprockets";
@import "theme";
@import "bootstrap";
@import "bootstrap-slider";

@import "footer";
@import "pages/home";
@import "registrations";
@import "spaces/index";
@import "shared/forms";
@import "shared/navigation";

html, body {
  height: 100%;
}
.full-height-with-nav {
  height: calc(100% - #{$navbar-height});
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.text-right-xs {
  @media (min-width: $screen-xs) {
    text-align: right;
  }
}

.text-right-md {
  @media (min-width: $screen-md) {
    text-align: right;
  }
}


.btn-secondary {
  @include button-variant(white, #F9622F, #d75124);
}