@import "bootstrap-sprockets";
@import "theme";
@import "bootstrap";
@import "bootstrap-slider";
@import "jquery.fileupload";
@import "jquery.fileupload-ui";
@import "selectize";
@import "selectize.bootstrap3";

@import "dashboard/plans/index";
@import "footer";
@import "pages/home";
@import "registrations";
@import "reviews";
@import "spaces/index";
@import "spaces/show";
@import "shared/alerts";
@import "shared/forms";
@import "shared/navigation";

html, body {
  height: 100%;
}
.flex-col-container {
  display: flex;
  flex-direction: column;
  .full-height-flex {
    flex-grow: 1;
    display: block;
  }
}
.full-height-with-nav {
  height: calc(100% - #{$navbar-height});
}

.full-width {
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.text-right-xs {
  @media (min-width: $screen-xs) {
    text-align: right;
  }
}

.text-right-md {
  @media (min-width: $screen-md) {
    text-align: right;
  }
}

$locations: (
  top:    't',
  right:  'r',
  bottom: 'b',
  left:   'l'
);
$sizes: 0, 2, 5, 10, 15, 20, 25, 30, 40, 50;
@each $size in $sizes {
  .p#{$size} {
    padding: #{$size}px;
  }
  .m#{$size} {
    margin: #{$size}px;
  }
}

@each $size in $sizes {
  @each $location, $alias in $locations {
    .p#{$alias}#{$size} {
      padding-#{$location}: #{$size}px;
    }
    .m#{map-get($locations, $location)}#{$size} {
      margin-#{$location}: #{$size}px;
    }
  }
}

.btn-secondary {
  @include button-variant(white, #F9622F, #d75124);
}

.shadow-border {
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.13);
}

.modal-scrollable {
  .modal-dialog {
    overflow-y: initial !important
  }
  .modal-body {
    max-height: 250px;
    @media (min-width: $screen-md) {
      max-height: 400px;
    }
    overflow-y: auto;
  }
}