footer {
  min-height: $footer-height;
  padding: 20px;
  color: #999;
  background-color: #15262f;
  line-height: 2;
  .footer-list {
    padding-left: 20px;
    list-style-image: asset-url('icon-li.png');
  }
  h4 {
    color: #b1b8b8;
  }
  a {
    color: #999;
  }
}