[data-controller="devise/sessions"],
[data-controller="space_owners/registrations"],
[data-controller="customers/registrations"] {
  &[data-action="new"], &[data-action="create"] {
    section.registration-form {
      background-image: asset-url('login-bg.jpg');
      background-repeat-y: no-repeat;
      @media (min-width: $screen-md) {
        min-height: 600px;
      }
    }
  }
}