[data-controller="space_owners/registrations"], [data-controller="customers/registrations"]{
  &[data-action="new"], &[data-action="create"] {
    section.registration-form {
      background-image: asset-url('login-bg.jpg');
      background-repeat-y: no-repeat;
      @media (min-width: $screen-md) {
        min-height: 600px;
      }
    }
    .form-wrapper {
      background-color: white;
      padding: 20px 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      input[type="submit"] {
        margin-top: 30px;
      }
    }
  }
}